html {
    font-size: 62.5%;
}

body {
    background-color: $color-white;
    border-top: 3px solid $color-accent-medium;
}

h1,
h2,
h3,
p {
    padding-bottom: 1rem;
}

.btn {
    padding: 1rem;
    cursor: pointer;
}

ul {
    background-color: $color-accent-light;
    padding: 2rem;
    border-radius: 1rem 2rem;

    li {
        display: flex;
        padding-bottom: 2rem;
    }
    &.paren-list {
        li {
            span {
                text-align: right;
                flex: 0 0 5%;
                margin-right: .75rem;
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    // &.dot-list {
    //     li {
    //         margin-left: 3.25%;
    //         &::before {
    //             content: "• ";
    //             margin-right: .5vw;
    //         }
    //     }
    // }
}

input {
    appearance: none;
    border: none;
    border-bottom: 1px solid $color-accent-medium;
    
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 30rem;
    box-sizing: border-box;

    margin-bottom: 1rem;
    font-size: inherit;
}

/*
*  STYLE 3 from https://css-tricks.com/the-current-state-of-styling-scrollbars/
*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($color-grey,0.3);
    background-color: $color-accent-light;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: $color-grey;
}

::-webkit-scrollbar-thumb {
    // height: 3px;
    background-color: $color-accent-medium;
}