html {
    font-size: 62.5%;
}

body {
    background-color: $color-white;
    border-top: 3px solid $color-accent-medium;
}

h1,
h2,
h3,
p {
    padding-bottom: 1rem;
}

.btn {
    padding: 1rem;
    cursor: pointer;
}