body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    color: $color-accent-dark;
}

a,
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-accent-medium;
    &.router-link-exact-active,
    &:active {
        color: $color-accent-dark;
    }
}

.heading-1 {
    text-transform: uppercase;
    font-weight: 600;
}

.heading-3 {
    text-transform: capitalize;
}