$color-accent-light: #CEA598;
$color-accent-medium: #9C4A2E;
$color-accent-dark: #351910;

$color-black: #0F0E0E;
$color-white: #FBF5F3;
// grey is somewhere near #555
$color-grey: #564945;


// Purple Test
// $color-accent-light: #AC3AB2;
// $color-accent-medium: #872F8C;
// $color-accent-dark: #38023B;

// $color-grey: #573F59;
// $color-black: #0F0E0E;
// $color-white: #FBBCFF;

$box-shadow-default: 0 .5rem .5rem rgba($color-accent-dark, .65);

$bp-smallest: 56.25em; // 900px
